**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/*.dbmdl
**/*.*proj.user
**/npm-debug.log
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
