# docker-compose.yml
name: bambaiba_dev


services:
# Api Service
  bambaiba_api:
    image: ${DOCKER_REGISTRY-}bambaibaapi
    container_name: bambaiba_api
    build:
      context: .
      dockerfile: src/BambaIba.Api/Dockerfile
      # target: dev
    environment:
      - ASPNETCORE_HTTP_PORTS=7000
      # - ASPNETCORE_HTTPS_PORTS=7001
      - TZ=Etc/UTC
      - ConnectionStrings__DefaultConnection=Host=bambaiba_db;Port=5432;Database=bambaiba_db;Username=admin;Password=admin123;
      - ConnectionStrings__Redis=bambaiba_redis:6379,abortConnect=false,connectRetry=5,connectTimeout=5000
      - Keycloak__AuthClientSecret=${Keycloak__AuthClientSecret}
      - Keycloak__AuthClientId=${Keycloak__AuthClientId}
      - Keycloak__AdminClientSecret=${Keycloak__AdminClientSecret}
      - Keycloak__AdminClientId=${Keycloak__AdminClientId}
      - Kestrel__Certificates__Development__Password=${Kestrel__Certificates__Development__Password}
    ports:
      - "7000:7000"
      # - "7001:7001"
    volumes:
      - bambaiba_api_data:/app/data
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ./data-protection:/app/data-protection-keys
      - ./src/BambaIba.Api/appsettings.json:/app/appsettings.json:ro
      - ./src/BambaIba.Api/appsettings.Development.json:/app/appsettings.Development.json:ro
    depends_on:
      - bambaiba_db
      - minio
    restart: unless-stopped
    networks:
      - bambaiba_network

# DB Service
  bambaiba_db:
    image: postgres:16-alpine
    container_name: bambaiba_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - bambaiba_network

# KEYCLOAK DB Service
  bambaiba_idp_db:
    image: postgres:16-alpine
    container_name: bambaiba_idp_db
    environment:
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      POSTGRES_DB: ${KEYCLOAK_DB}
    volumes:
      # Gardez les volumes pour la persistance des données DB
      - keycloak_pg_data:/var/lib/postgresql/data 
    ports:
      # L'hôte écoute sur 5436, mais le conteneur interne écoute sur 5432
      - "5436:5432" 
    restart: unless-stopped
    networks:
      - bambaiba_network
    healthcheck: # Ajout d'un healthcheck pour une dépendance plus fiable (voir note)
      test: ["CMD-SHELL", "pg_isready -U keycloakuser -d bambaiba_idp_db"]
      interval: 10s
      timeout: 5s
      retries: 5

# KEYCLOAK Service
  bambaiba_idp:
    image: quay.io/keycloak/keycloak:latest
    container_name: bambaiba_idp
    # Simplification de la commande, en utilisant les variables KC_*
    command: start --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}     
      # Configuration de la DB : 
      KC_DB: postgres
      KC_DB_URL_HOST: bambaiba_idp_db
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB}
      # 💥 CORRECTION : Keycloak doit se connecter au port INTERNE du conteneur DB (5432)
      KC_DB_URL_PORT: 5432 
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}      
      # Configuration du Hostname Keycloak (Simplification)
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: true
      KC_FRONTEND_URL: http://localhost:18081 # Utiliser l'hôte et le port externes      
      # Paramètres avancés
      KC_FEATURES: token-exchange,admin-fine-grained-authz      
    volumes:
      # Le volume pour les exports/imports doit être dans le dossier 'data/import'
      # - ./.containers/identity:/opt/keycloak/data
      - ./.files/bambaiba-realm-export.json:/opt/keycloak/data/import/bambaiba-realm-export.json     
    ports:
      - "18081:8080"      
    depends_on:
      bambaiba_idp_db:
        condition: service_healthy # Utiliser le healthcheck pour une dépendance fiable
        
    restart: unless-stopped
    networks:
      - bambaiba_network

# MINIO Service
  minio:
    image: minio/minio:latest
    container_name: bambaiba_minio
    command: server /data --console-address ":9001"
    environment:
        MINIO_ROOT_USER: ${MINIO_USER}
        MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    ports:
        - "9000:9000"
        - "9001:9001"
    volumes:
        - minio_data:/data
    networks:
       bambaiba_network:
         aliases:
            - minio

# REDIS Service
  redis:
    image: redis:latest
    container_name: bambaiba_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - bambaiba_network

 # SEQ Service
  seq:
    image: datalust/seq:latest
    container_name: bambaiba_seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:5341
      - 8081:80
    volumes:
      - ./seq_data:/data
    restart: unless-stopped

# RABBBITMQ Service
  bambaiba_rabbitmq:
    image: rabbitmq:3-management
    container_name: bambaiba_rabbitmq
    ports:
      - "5672:5672"   # Port AMQP (connexion des apps)
      - "15672:15672" # Port UI de management (http://localhost:15672)
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "ping"]
        interval: 10s
        timeout: 5s
        retries: 5
    networks:
      - bambaiba_network

# NGINX Service
  nginx:
    image: nginx:latest
    container_name: bambaiba_minio_proxy
    ports:
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - minio
    networks:
      - bambaiba_network

# Worker Service
  bambaiba_worker:
    image: ${DOCKER_REGISTRY-}bambaibaworker
    container_name: bambaiba_worker
    build:
      context: .
      dockerfile: src/BambaIba.Worker/Dockerfile
    depends_on:
        bambaiba_rabbitmq:
            condition: service_healthy
    environment:
        RABBITMQ__HOST: bambaiba_rabbitmq
        RABBITMQ__USER: admin
        RABBITMQ__PASS: admin
    healthcheck:
        test: ["CMD-SHELL", "dotnet --info"]
        interval: 30s
        timeout: 10s
        retries: 3
    restart: unless-stopped
    networks:
        - bambaiba_network
    
# # Radio Service
#   bambaiba_radio:
#     image: azuracast/azuracast:latest
#     ports:
#       - "80:80"
#       - "1443:443"
#     volumes:
#       - azuracast_db_data:/var/lib/mysql
#       - azuracast_station_data:/var/azuracast/stations
#     # Si vous avez du code personnalisé, vous pouvez le monter ici :
#     # - ./custom-code:/var/azuracast/www/custom

volumes:
  keycloak_pg_data:
  pg_data:
  redis_data:  
  minio_data:
  bambaiba_api_data:
  rabbitmq_data:
  owncast_data:
  azuracast_db_data:
  azuracast_station_data:

networks:
  bambaiba_network:
    name: bambaiba_network
