# docker-compose.yml
name: bambaiba_dev

# ================== EXTENSIONS (RACINE) ==================

x-common-env: &common-env
  TZ: "Etc/UTC"

  ConnectionStrings__Postgres: "Host=bambaiba_db;Port=5432;Database=bambaiba_db;Username=admin;Password=admin123;Maximum Pool Size=200;Timeout=30"
  ConnectionStrings__Redis: "bambaiba_redis:6379,abortConnect=false,connectRetry=5,connectTimeout=5000"
  ConnectionStrings__Mongo: "mongodb://mongo_root:mongo_pass@bambaiba_mongo:27017"
  # SeaweedFS
  SeaweedFS__Endpoint: ${SEAWEEDFS__ENDPOINT} 
  SeaweedFS__PublicEndpoint: ${SEAWEEDFS__PUBLICENDPOINT} 
  SeaweedFS__AccessKey: ${SEAWEEDFS__ACCESSKEY} 
  SeaweedFS__SecretKey: ${SEAWEEDFS__SECRETKEY}

  Keycloak__AuthClientSecret: ${Keycloak__AuthClientSecret}
  Keycloak__AuthClientId: ${Keycloak__AuthClientId}
  Keycloak__AdminClientSecret: ${Keycloak__AdminClientSecret}
  Keycloak__AdminClientId: ${Keycloak__AdminClientId}

  Kestrel__Certificates__Development__Password: ${Kestrel__Certificates__Development__Password}

x-api-volumes: &api-volumes
  volumes:
    - bambaiba_api_data:/app/data
    - ./src/BambaIba.Api/appsettings.json:/app/appsettings.json:ro
    - ./src/BambaIba.Api/appsettings.Development.json:/app/appsettings.Development.json:ro


# ================== SERVICES ==================

services:

# Api Service
  bambaiba_api:
    image: ${DOCKER_REGISTRY-}bambaibaapi
    container_name: bambaiba_api
    build:
      context: .
      dockerfile: src/BambaIba.Api/Dockerfile
      # target: dev
    environment:
      <<: *common-env
      ASPNETCORE_HTTP_PORTS: 7000
    ports:
      - "7000:7000"
      # - "7001:7001"
    volumes: 
      # - *api-volumes
      - bambaiba_api_data:/app/data
      - ./src/BambaIba.Api/appsettings.json:/app/appsettings.json:ro
      - ./src/BambaIba.Api/appsettings.Development.json:/app/appsettings.Development.json:ro
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ./data-protection:/app/data-protection-keys
    depends_on:
      bambaiba_db:
        condition: service_healthy
      bambaiba_redis:
        condition: service_healthy
      # bambaiba_minio:
      #   condition: service_healthy
    restart: unless-stopped
    networks:
      - bambaiba_network

# Media Processing Worker
  bambaiba_worker: 
    image: ${DOCKER_REGISTRY-}bambaibaapi
    container_name: bambaiba_worker
    environment:
      <<: *common-env # Même configuration DB/Auth
    volumes:
      # - *api-volumes
      - bambaiba_api_data:/app/data
      - ./src/BambaIba.Api/appsettings.json:/app/appsettings.json:ro
      - ./src/BambaIba.Api/appsettings.Development.json:/app/appsettings.Development.json:ro
    depends_on:
      bambaiba_db:
        condition: service_healthy
      bambaiba_redis:
        condition: service_healthy
      # bambaiba_minio:
      #   condition: service_healthy
    restart: unless-stopped
    stop_grace_period: 30s
    networks:
      - bambaiba_network
    command: ["dotnet", "BambaIba.Api.dll", "--worker-mode"]

# DB Service
  bambaiba_db:
    image: postgres:16-alpine
    container_name: bambaiba_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - bambaiba_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

# KEYCLOAK Service
  bambaiba_idp:
    image: quay.io/keycloak/keycloak:latest
    container_name: bambaiba_idp
    command:
      - start-dev
      # - --import-realm 
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}     
      KC_DB: postgres
      KC_DB_URL_HOST: bambaiba_db
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB}
      KC_DB_URL_PORT: 5432 
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}      
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: true
      KC_FRONTEND_URL: http://localhost:18081
      KC_FEATURES: token-exchange,admin-fine-grained-authz      
    volumes:
      - ./.keycloak-export:/opt/keycloak/data/export
      - ./.keycloak-entrypoint/init-keycloak-db.sql:/docker-entrypoint-initdb.d/init-keycloak-db.sql
      - ./.keycloak-entrypoint/keycloak-entrypoint.sh:/opt/keycloak/custom/keycloak-entrypoint.sh
    ports:
      - "18081:8080"      
    depends_on:
      bambaiba_db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - bambaiba_network

# # MINIO Service
#   bambaiba_minio:
#     image: minio/minio:latest
#     container_name: bambaiba_minio
#     command: server /data --console-address ":9001"
#     environment:
#       MINIO_ROOT_USER: ${MINIO_ROOT_USER}
#       MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
#     ports:
#       - "9000:9000"
#       - "9001:9001"
#     volumes:
#       - minio_data:/data
#     restart: unless-stopped
#     networks:
#       bambaiba_network:
#         aliases:
#           - minio
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

  master:
    container_name: seaweed_master
    image: chrislusf/seaweedfs:latest
    command: "master -ip=master -port=9333"
    ports:
      - "9333:9333"
    volumes:
      - master_data:/data
    restart: unless-stopped
    networks: 
      - bambaiba_network 
    healthcheck: 
      test: ["CMD", "wget", "-qO-", "http://localhost:9333/cluster/status"] 
      interval: 10s 
      timeout: 5s 
      retries: 5

  volume:
    container_name: seaweed_volume
    image: chrislusf/seaweedfs:latest
    command: "volume -mserver=master:9333 -port=8080 -dir=/data -max=50"
    ports:
      - "8080:8080"
    volumes:
      - volume_data:/data
    depends_on:
      - master
    restart: unless-stopped
    networks: 
      - bambaiba_network 
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/status"] 
      interval: 10s 
      timeout: 5s 
      retries: 5

  filer:
    container_name: seaweed_filer
    image: chrislusf/seaweedfs:latest
    command: "filer -master=master:9333 -port=8888 -config=/etc/seaweedfs/filer.toml"
    ports: []
      # - "8888:8888"
    volumes:
      - filer_data:/data
      - ./filer.toml:/etc/seaweedfs/filer.toml:ro
    depends_on:
      - master
    restart: unless-stopped
    networks: 
      - bambaiba_network
    healthcheck: 
      test: ["CMD", "wget", "-qO-", "http://localhost:8888/?pretty=y"] 
      interval: 10s 
      timeout: 5s 
      retries: 5
  
  seaweed_s3:
    container_name: seaweed_s3
    image: chrislusf/seaweedfs:latest
    command: >
      s3
      -filer=filer:8888
      -port=8333
      -config=/etc/seaweedfs/s3.json
    ports:
      - "8333:8333"
    volumes:
      - ./s3.json:/etc/seaweedfs/s3.json:ro
    depends_on:
      - filer
    restart: unless-stopped
    networks: 
      - bambaiba_network
    environment:
     - SeaweedFS__Endpoint=${SEAWEEDFS__ENDPOINT} 
     - SeaweedFS__PublicEndpoint=${SEAWEEDFS__PUBLICENDPOINT} 
     - SeaweedFS__AccessKey=${SEAWEEDFS__ACCESSKEY} 
     - SeaweedFS__SecretKey=${SEAWEEDFS__SECRETKEY}
    healthcheck: 
      test: ["CMD", "wget", "-qO-", "http://localhost:8333"] 
      interval: 10s 
      timeout: 5s 
      retries: 5


# REDIS Service
  bambaiba_redis:
    image: redis:latest
    container_name: bambaiba_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      bambaiba_network:
        aliases:
          - bambaiba_redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

# SEQ Service
  seq:
    image: datalust/seq:latest
    container_name: bambaiba_seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:5341
      - 8081:80
    volumes:
      - ./seq_data:/data
    restart: unless-stopped
    networks:
      - bambaiba_network

# Mongo DB
  bambaiba_mongo: 
    image: mongo:6
    container_name: bambaiba_mongo
    environment: 
      MONGO_INITDB_ROOT_USERNAME: ${MONGO__USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO__PASSWORD}
    volumes: 
      - mongodata:/data/db 
    ports: 
      - "27017:27017" 
    restart: unless-stopped
    networks:
      - bambaiba_network
    healthcheck: 
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"] 
      interval: 10s 
      timeout: 5s 
      retries: 5

# NGINX Service
  nginx:
    image: nginx:latest
    container_name: bambaiba_proxy
    ports:
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
    # depends_on:
      # - bambaiba_minio
    networks:
      - bambaiba_network
    restart: unless-stopped
    healthcheck: 
      test: ["CMD-SHELL", "curl -f http://localhost || exit 1"]
      interval: 10s 
      timeout: 5s 
      retries: 5

volumes:
  keycloak_pg_data:
  pg_data:
  redis_data:  
  # minio_data:
  bambaiba_api_data:
  mongodata:
  master_data:
  volume_data:
  filer_data:

networks:
  bambaiba_network:
    name: bambaiba_network