# docker-compose.override.yml
name: bambaiba_dev

services:
  bambaiba_api:
    environment:
      # - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_USE_POLLING_FILE_WATCHER=true
      - ASPNETCORE_HTTP_PORTS=7000
      # - ASPNETCORE_HTTPS_PORTS=7001
      - Keycloak__AuthClientSecret=${Keycloak__AuthClientSecret}
      - Keycloak__AuthClientId=${Keycloak__AuthClientId}
      - Keycloak__AdminClientSecret=${Keycloak__AdminClientSecret}
      - Keycloak__AdminClientId=${Keycloak__AdminClientId}
      - Kestrel__Certificates__Development__Password=${Kestrel__Certificates__Development__Password}
    ports:
      - "7000:7000"
      # - "7001:7001"
    volumes:
      # Secrets et certificats
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ./data-protection:/app/data-protection-keys
      # Monte le appsettings.json de ton projet dans le conteneur
      - ./src/BambaIba.Api/appsettings.json:/app/appsettings.json:ro
      # Monte aussi le appsettings.Development.json
      - ./src/BambaIba.Api/appsettings.Development.json:/app/appsettings.Development.json:ro
      

# services:
#   bambaiba_api:
#     build:
#       context: .
#       dockerfile: src/BambaIba.Api/Dockerfile
#       target: dev
#     image: bambaiba_api
#     container_name: bambaiba_api
#     environment:
#       ASPNETCORE_ENVIRONMENT: Development
#       ASPNETCORE_HTTP_PORTS: 7000
#       # ASPNETCORE_HTTPS_PORTS: 7001
#       ConnectionStrings__DefaultConnection: "Host=bambaiba_db;Port=5432;Database=bambaiba_db;Username=admin;Password=admin123;"
#     ports:
#       - "7000:7000"
#       # - "7001:7001"
#     volumes:
#       - ./src:/src
#       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
#       - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
#       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
#       - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
#     command: ["dotnet", "watch", "run", "--project", "src/BambaIba.Api/BambaIba.Api.csproj"]
#     depends_on:
#       - bambaiba_db
#       - minio
#     restart: unless-stopped
#     networks:
#       - bambaiba_network