# docker-compose.yml
name: bambaiba_dev

services:
  bambaiba_db:
    image: postgres:16-alpine
    container_name: bambaiba_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: bambaiba_db
    ports:
      - "5435:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - bambaiba_network

  bambaiba_idp_db:
    image: postgres:16-alpine
    container_name: bambaiba_idp_db
    environment:
      POSTGRES_USER: keycloakuser
      POSTGRES_PASSWORD: keycloak123
      POSTGRES_DB: bambaiba_idp_db
    ports:
      - "5436:5432"
    volumes:
      - keycloak_pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - bambaiba_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloakuser -d bambaiba_idp_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  bambaiba_idp:
    image: quay.io/keycloak/keycloak:latest
    container_name: bambaiba_idp
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: bambaiba_idp_db
      KC_DB_URL_DATABASE: bambaiba_idp_db
      KC_DB_URL_PORT: 5432
      KC_DB_USERNAME: keycloakuser
      KC_DB_PASSWORD: keycloak123
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_FRONTEND_URL: http://localhost:18081
      KC_FEATURES: token-exchange,admin-fine-grained-authz
    ports:
      - "18081:8080"
    volumes:
      - ./.files/bambaiba-realm-export.json:/opt/keycloak/data/import/realm.json:ro
    depends_on:
      bambaiba_idp_db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - bambaiba_network

  minio:
    image: minio/minio:latest
    container_name: bambaiba_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped
    networks:
      - bambaiba_network

  redis:
    image: redis:8.2.2
    container_name: bambaiba_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - bambaiba_network

volumes:
  keycloak_pg_data:
  pg_data:
  redis_data:
  minio_data:

networks:
  bambaiba_network:
